header {
  padding-top: 2%;
}
  
.results-section {
  display: block;
  padding-bottom: 2%;
  background-color: white;
  margin-top: 18%;
  padding-bottom: 3%;
}
@media only screen and (min-width: 550px ){
  .results-section {
      margin-top: 10%
  }
}
@media only screen and (min-width: 800px ){
  .results-section {
      margin-top: 5%
  }
}
  
.results {
  position: absolute;
  margin-bottom: 80px;
  width: 30%;
  overflow-y: auto;
  height: 620px;
  background: rgba(255,255,255, 0.9)
}

.ResultsList{
  width: 30%;
}

.results ul {
  list-style: none;
  text-align: left;
  padding-left: 0px;
  margin: 0px;
}

.results li:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.results li {
  padding: 3%;
  margin-bottom: 4px;
  border: solid lightgray 1px;
  font-size: 13px;
}

.results:hover{
  cursor: pointer;
}

.results a:hover{
  text-decoration: underline;
}

.results-list-map{
  position: relative;
  margin-bottom: 580px;
}

.map{
  width: 100%;
  height: 100%;
}

.item-name{
  font-weight: bold;
}

.no-results{
  text-align: center;
}