* {
    box-sizing: border-box;
  }
  
/* nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
} */
  
header {
  padding-top: 2%;
}
  
.results-section {
  margin: auto;
  width: 100%;
  display: block;
  padding-bottom: 2%;
  background-color: #bbb;
  margin-top: 10%;
  padding-bottom: 3%;
}
  
.results {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;   
  margin-bottom: 80px;
  width: 90%;
}
  
ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 3%;
  margin-top: 4px;
  margin-bottom: 4px;
  border: solid lightgray 1px;
  font-size: 13px;
}

footer {
  bottom: 0;
}