* {
  box-sizing: border-box;
}

body,html{
  height: 100%;
  margin:0;
  padding: 0;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.Site{
  display: flex;
  flex-direction: column;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #F7EFE6;
}

section .why-window, .business-window, .consumer-window{
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 65%;
  height: 550px;
  padding-bottom: 20%;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

 section .consumer-window{
  padding-bottom: 40%;
}

section .business-window{
  padding-bottom: 40%;
}

@media only screen and (min-width: 400px ){
  section .why-window{
      padding-bottom: 5%;
  }
  section .consumer-window{
    padding-bottom: 7%;
  }
  section .business-window{
    padding-bottom: 20%;
  }
}
@media only screen and (min-width: 700px ){
  section .why-window{
      padding-bottom: 0;
  }
  section .consumer-window{
    padding-bottom: 0;
  }
  section .business-window{
    padding-bottom: 5%;
  }
}

section .why-background-image, .consumer-background-image, .business-background-image{
  margin: auto;
  margin-top: 20px;
  width: 85%;
  height: 65%;
}

section .why-background-image{
  background-image: url('./Images/mussels.jpg');
  background-size: cover;
}

section .consumer-background-image{
  background-image: url('./Images/organic-food-preparation.jpg');
  background-size: cover;
}

section .business-background-image{
  background-image: url('./Images/fisheries.jpg');
  background-size: cover;
}

.Site-content{
  position:relative;
  z-index: 2
}

#revealed-section {height: 600px; position:fixed; bottom:0; z-index: 1; width:100%; background: transparent;} 
#revealed-section-placeholder {height: 600px; background:transparent;} 

/* @media only screen and (min-width: 98px ){
  #revealed-section{
    height: 600px;
  }
} */
