@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #F7EFE6;
  height: 11%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (min-width: 1000px ){
  nav{
      height: 13%;
  }
}
@media only screen and (min-width: 1200px ){
  nav{
      height: 16%;
  }
}
.home {
  margin-left: 10px;
}

.nav-link{
  margin-top: 2.5%;
  margin-left: 2%;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 0.8%;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: darkgray;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  right: 10px;
  padding: 20px 20px;
  font-size: 13px;
  line-height: 30px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
  line-height: 45px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Noto Serif JP', serif;
}

.home a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

.dropdown-content a {
  border-bottom: 1px solid lightgray;
  color: green;
}
