@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #F7EFE6;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
@media only screen and (min-width: 480px ){
  nav{
      height: 80px;
  }
}
@media only screen and (min-width: 1000px ){
  nav{
      height: 100px;
  }
}
.home {
  margin-left: 10px;
}

.nav-link{
  margin-top: 15px;
  margin-left: 2%;
}
@media only screen and (min-width: 500px ){
  .nav-link{
    margin-top: 25px;
  }
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 2%;
}

.dropdown .dropbtn {
  font-size: 16px;
  margin-top: 25px; 
  color: grey;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
}
@media only screen and (min-width: 500px ){
  .dropdown .dropbtn {
    margin-top: 35px;
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  right: 10px;
  padding: 20px 20px;
  font-size: 13px;
  line-height: 30px;
  transition: max-height 0.7s ease-in; 
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
  line-height: 45px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Noto Serif JP', serif;
}

.home a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

.dropdown-content a {
  border-bottom: 1px solid lightgray;
  color: green;
}
