@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

p, .consumer-how-page li, .business-how-page li{
  font-family: 'Noto Serif JP', serif;
}

.consumer-how-page li, .business-how-page li{
  list-style: none;
  font-size: 15px;

}

.why-page, .consumer-how-page, .business-how-page{
  margin-top: 18%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
@media only screen and (min-width: 900px ){
  .why-page, .consumer-how-page, .business-how-page{
      margin-top: 12%;
  }
}

.business-how-page{
  padding-bottom: 20%;
}

.business-how-page .first-paragraph{
  font-size: 17px;
}