@import url('https://fonts.googleapis.com/css?family=Lora');

.consumer-how-page li, .business-how-page li{
  list-style: none;
}

.why-page, .consumer-how-page, .business-how-page{
  background-color: #F7EFE6;
  font-family: 'Lora', serif;
  text-align: left;
  padding-bottom: 5%;
}

.business-how-page .first-paragraph{
  font-size: 18px;
  text-indent: 50px;
}

.content{
  background-color: #F7EFE6;
  height: 90%;
  padding-left: 45px;
  padding-right: 45px;
}
@media only screen and (min-width: 600px ){
  .content{
    height: 100%;
  }
}
@media only screen and (min-width: 1000px ){
  .content{
    height: 100%;
  }
}

.list-name{
  font-size: 17px;
  font-weight: bold;
}